<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Prductos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> {{ nombre }}</th>
                <td> uppercase </td>
                <td> {{ nombre | uppercase }} </td>
            </tr>
            <tr>
                <th> {{ nombre }}</th>
                <td> lowercase </td>
                <td> {{ nombre | lowercase }} </td>
            </tr>
            <tr>
                <th> {{ nombre }}</th>
                <td> slice:3 </td>
                <td> {{ nombre | slice:3 }} </td>
            </tr>
            <tr>
                <th> {{ nombre }}</th>
                <td> slice:0:3 </td>
                <td> {{ nombre | slice:0:3 }} </td>
            </tr>
            <tr>
                <th> {{ arreglo }}</th>
                <td> slice:1:5 </td>
                <td> {{ arreglo | slice:1:5 }} </td>
            </tr>
            <tr>
                <th> {{ PI }}</th>
                <td> number </td>
                <td> {{ PI | number }} </td>
            </tr>
            <tr>
                <th> {{ PI }}</th>
                <td> number:'3.0-0' </td>
                <td> {{ PI | number:'3.0-0' }} </td>
            </tr>
            <tr>
                <th> {{ a }}</th>
                <td> percent </td>
                <td> {{ a | percent }} </td>
            </tr>
            <tr>
                <th> {{ a }}</th>
                <td> percent:'2.2-2' </td>
                <td> {{ a | percent:'2.2-2' }} </td>
            </tr>
            <tr>
                <th> {{ salario }}</th>
                <td> currency </td>
                <td> {{ salario | currency }} </td>
            </tr>
            <tr>
                <th> {{ salario }}</th>
                <td> currency:'EUR' </td>
                <td> {{ salario | currency:'EUR' }} </td>
            </tr>
            <tr>
                <th> {{ salario }}</th>
                <td> currency:'EUR':false </td>
                <td> {{ salario | currency:'EUR':false }} </td>
            </tr>
            <tr>
                <th> {{ salario }}</th>
                <td> currency:'EUR':false:'4.0-0' </td>
                <td> {{ salario | currency:'EUR':false:'4.0-0' }} </td>
            </tr>
            <tr>
                <th> {{ salario }}</th>
                <td> number:'.2-2' </td>
                <td> {{ salario | number:'.2-2' }} </td>
            </tr>
            <tr>
                <th> {{ valorDePromesa }}</th>
                <td> async nothing </td>
                <td> {{ valorDePromesa }} </td>
            </tr>
            <tr>
                <th> {{ valorDePromesa }}</th>
                <td> async nothing json</td>
                <td> {{ valorDePromesa | json }} </td>
            </tr>
            <tr>
                <th> {{ valorDePromesa }}</th>
                <td> async </td>
                <td> {{ valorDePromesa | async }} </td>
            </tr>
            <tr>
                <th> {{ fecha }}</th>
                <td> date </td>
                <td> {{ fecha | date }} </td>
            </tr>
            <tr>
                <th> {{ fecha }}</th>
                <td> date:'medium' </td>
                <td> {{ fecha | date:'medium' }} </td>
            </tr>
            <tr>
                <th> {{ fecha }}</th>
                <td> date:'MMMM - dd' </td>
                <td> {{ fecha | date:'medium' }} </td>
            </tr>
            <tr>
                <th> {{ nombre2 }}</th>
                <td> capitalizado </td>
                <td> {{ nombre2 | capitalizado }} </td>
            </tr>
        </tbody>
    </table>
    <h4>Slice</h4>
    <ul>
        <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
    </ul>
    <h4>JSON normal</h4>
    {{ heroe }}
    <h4>JSON json</h4>
    {{ heroe | json}}
    <h4>JSON json pre</h4>
    <pre>{{ heroe | json}}</pre>
</div>
<br>
<br>
<br>